{% extends 'blogs/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
  <h2 class="text-3xl font-bold mb-4 text-gray-800 dark:text-gray-100">About this website</h2>
  <p class="text-gray-700 dark:text-gray-200 mb-2">
    Welcome to Yui's Blog! This is a simple blog project I built to practice my coding skills. <br>Thank you for visiting my website!
  </p>
  <p class="text-gray-700 dark:text-gray-200">
    I hope you enjoy reading my random posts, and please feel free to leave comments!
  </p>
  <p class="text-gray-700 dark:text-gray-200">
    Hope you have a great day! :)
  </p>
</div>
{% endblock %}
